.form

  -# = form_for [client,contact] do |f|
  -#   .input-field.col.s8.offset-s1
  -#     = f.collection_select :act_cat_id, ActCat.all, :id ,:category,{include_blank: true},{class: "select-list input-field col s8 offset-s2",id: "act-cat"}
  -#     = f.label 'カテゴリ',for: 'act-cat'
  -#   .input-field.col.s8.offset-s1
  -#     = f.text_field :detail ,id: 'detail'
  -#     = f.label :detail,'詳細',for: 'detail'
  -#   .input-field.col.s8.offset-s1
  -#     = f.file_field :file, id: 'file',class: "input-field col s8 offset-s2"
  -#     = f.label :file,'添付ファイル',for: 'file'
  -#   .input-field.col.s4.offset-s1
  -#     = f.date_field :start_date,value: Time.now.strftime("%Y-%m-%d"),id: 'start_date'
  -#     = f.label :start_date,'開始日',for: 'start_date'
  -#   .input-field.col.s4.offset-s1
  -#     = f.date_field :end_date,value: Time.now.strftime("%Y-%m-%d"),id: 'end_date'
  -#     = f.label :end_date,'終了日',for: 'end_date'
  -#   .input-field.col.s8.offset-s1
  -#     = f.select :in_progress,[["進行中",1], ["完了",0]],{},{class: "select-list input-field col s8 offset-s2",id: "in_progress"}
  -#     = f.label '進行中'
  -#   = f.submit '登録', class: 'waves-effect waves-light btn col s2 offset-s5'