.main-header
  .main-title
    完了済
  .search
    = form_with url:clients_path,local: true do |f|
      = f.text_field :contact_search,id: "finished_search",class: 'search-box',placeholder: '詳細内容で検索'
.main-contents
  %table
    %tbody.striped#finished-search-result
      - @finished_contacts.each do |contact|
        %tr
          %td
            .column-btn
              = link_to '編集', edit_client_contact_path(contact.client.id,contact)
          %td.main-column
            %p
              =contact.in_progress ? "進行中" : "完了" + " 期間：" + contact.start_date.strftime("%Y-%m-%d") + "~" + contact.end_date.strftime("%Y-%m-%d")
            %p
              = contact.client.client_name1 + contact.client.client_name2
            %p
              ="カテゴリ：" + contact.act_cat.category if contact.act_cat_id
            %p
              =contact.detail