.main-header
  .main-title
    進行中
  .search
    = form_with url:clients_path,local: true do |f|
      = f.text_field :contact_search,id: "contact_search",class: 'search-box',placeholder: '詳細内容で検索'
.main-contents
  %table
    %tbody.striped#in_progress-search-result
      %tr.column
        %td
          .column-btn
            詳細
        %td.main-column
          %p
            進行中
          %p
            株式会社Ruby
          %p
            見積
          %p
            詳細内容についての記述
      %tr
        %td
          .column-btn
            詳細
        %td
          %p
            進行中
          %p
            株式会社Python
          %p
            訪問
          %p
            詳細内容についての記述