.main.show#in_progress-search
  =render 'main-in_progress'
.main#finished-search
  =render 'main-finished'
.main#client-search
  = render 'main-client'
.main#contact-register-at-once
  = render 'main-contact-register-at-once'
.main#csv
  = render 'csv'