.sidebar.col.s3
  .collection
    .collection-item.active.orange
      進行中
    .collection-item
      完了済
    .collection-item
      顧客検索
  .waves-effect.waves-light.btn-large.js-modal-open
    顧客を新規追加
