.sidebar
  .collection
    .collection-title
      HOME
    .collection-item.active.orange
      進行中
    .collection-item
      完了済
    .collection-item
      顧客検索
  .collection
    .collection-title
      Registration
    .collection-item
      顧客新規登録
    .collection-item
      イベント一括登録
