.sidebar
  %h4.collection-title
    顧客情報
  .client-collection
    .client-element
      .client-element__label
        会社名1：
      .client-element__data
        =@client.client_name1
    .client-element
      .client-element__label
        会社名2：
      .client-element__data
        =@client.client_name2
    .client-element
      .client-element__label
        郵便番号：
      .client-element__data
        =@client.postcode
    .client-element
      .client-element__label
        住所1：
      .client-element__data
        =@client.add1
    .client-element
      .client-element__label
        住所2：
      .client-element__data
        =@client.add2
    .client-element
      .client-element__label
        住所3：
      .client-element__data
        =@client.add3
    .client-element
      .client-element__label
        Tel：
      .client-element__data
        =@client.tel
    .client-element
      .client-element__label
        Fax：
      .client-element__data
        =@client.fax
    .client-element
      .client-element__label
        顧客担当者：
      .client-element__data
        =@client.client_person_in_charge
    .client-element
      .client-element__label
        携帯番号：
      .client-element__data
        =@client.mobile
    .client-element
      .client-element__label
        URL：
      .client-element__data
        =@client.url
    .client-element
      .client-element__label
        Email：
      .client-element__data
        =@client.email
    .client-element
      .client-element__label
        顧客ランク：
      .client-element__data
        =@client.client_rank.rank if @client.client_rank_id
    .client-element
      .client-element__label
        顧客区分：
      .client-element__data
        =@client.client_cat.category if @client.client_cat_id
    .client-element
      .client-element__label
        締日：
      .client-element__data
        =@client.closing_day.closing_day if @client.closing_day_id
    .client-element
      .client-element__label
        支払日：
      .client-element__data
        =@client.payment_day.payment_day if @client.payment_day_id
    .client-element
      .client-element__label
        支払方法：
      .client-element__data
        =@client.payment_method.name if @client.payment_method_id
    .client-element
      .client-element__label
        自社担当者：
      .client-element__data
        =@client.user.name
    .form-btn.form-btn__edit
      =link_to '編集',edit_client_path(params[:id])