.sidebar
  .collection
    .collection-title
      HOME
    .collection-item.home.active.orange
      進行中
    .collection-item.home
      完了済
    .collection-item.home
      顧客検索
  .collection
    .collection-title
      Registration
    .collection-item.js-modal-open
      顧客新規登録
    .collection-item.home
      コンタクト一括登録
