.wrapper
  = render 'side-client'
  = render 'contacts'
  .modal.js-modal
    .modal__bg.js-modal-close
    .modal__content
      %h4
        新規コンタクト
      = render 'contact-form'

  -# .modal.js-modal
  -#   .modal__bg
  -#   .modal__content.row
  -#     %h4
  -#       アクション新規追加
  -#     = render partial: '/shared/action-form', locals: { client: @client,contact: @contacts.new }
  -#     %a.js-modal-close
  -#       閉じる