// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr:nth-child(odd){
  background-color: rgba(242,242,242,0.5);
}
a{
  text-decoration: none;
  color: white;
}
.sidebar{
  width:30%;
  height: 100vh;
}
.orange{
  background-color: orange;
  color:$app-white;
}
.collection{
  padding-bottom: 30px;
}
.collection-title{
  margin: 10px auto;
  width:90%;
  font-size: 1.5rem;
}

.collection-item{
  margin: 10px auto;
  padding: 0;
  border: 1px;
  border-style: solid;
  border-color: #999999;
  width: 90%;
  height: 40px;
  line-height:40px;
  cursor: pointer;
}

.main{
  width:70%;
  display:none;
}
.main-header{
  display: flex;
  margin: 10px auto;
}
.main-title{
  font-size: 1.5rem;
  line-height:36px;
  margin-left: 20px;
  text-align: center;
}
.main-column{
  width:70vw;
}
.column-btn{
  width:100px;
  height:50px;
  line-height:50px;
  margin-left:20px;
  margin-right:20px;
  text-align: center;
  color: $app-white;
  border-radius: 10px;
  background-color: $app-green;
}
.search{
  line-height:36px;
  margin-left:20px;
}
.search-box{
  width:300px;
}

.wrapper{
  width:100vw;
  display:flex;
}

.show{
  display:block;
}
.modal{
  display: none;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.modal__bg{
  background: rgba(0,0,0,0.6);
  min-height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: $app-white;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  overflow: scroll;
}
.form{
  display: inline-block;
}

.input-field{
  position:relative;
  padding-bottom: 5px;
  padding-left:100px;
  margin: 0 auto;
  color: $app-black;
}
.input-field input{
  position: absolute;
  border-style: none;
  border-bottom: inset;
  border-width: 1px;
  border-color: $app-black;
  left:400px;
  width:500px;
}
.input-field select{
  position: absolute;
  border-style: none;
  left:400px;
  width:500px;
  height:25px;
}
.form-btn{
  color: $app-white;
  background-color: $app-green;
  border-radius: 10px;
  margin-left:100px;
  margin-bottom:10px;
  width: 800px;
  cursor: pointer;
  text-align: center;
  &__edit{
    margin-left: 0px;
    width:90%;
  }
  &__contact{
    line-height:36px;
    width:200px;
    margin-bottom:0;
  }
}
.close{
  background-color: $app-gray;
  text-align: center;

}
.form-btn__close{
  color: $app-white;
  border-radius: 10px;
  margin:0 auto;
  cursor: pointer;
  width: 800px;
  text-decoration: none;
}


.select-list{
  display: block;
}
.client-collection{
  width:90%;
  margin:0 auto;
}
.column{
  height: 100px;
}
.client-element{
  display:flex;
  &__label{
    width:25%;
    text-align: right;
  }
  &__data{
    width:75%;
    text-align: left;
  }
}
.edit-wrapper{
  margin: 0 auto;
  overflow: scroll;
  padding-top: 24px;
  padding-bottom: 40px;
}